body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spinner-container {
  position: relative;
  width: 20px;
  height: 20px;
}

.spinner-icon {
  font-size: 3rem; /* Adjust size as needed */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
